{
  "openapi": "3.1.0",
  "info": {
    "title": "AgilityHub bootstrap API fallback",
    "version": "0.0.0-stub",
    "description": "Temporary frontend contract until the core OpenAPI snapshot includes the bootstrap endpoints."
  },
  "servers": [
    {
      "url": "https://core.agilitydoghub.com/api/v1"
    }
  ],
  "paths": {
    "/branding": {
      "get": {
        "operationId": "getBranding",
        "responses": {
          "200": {
            "description": "Public branding for the request host",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current account and club membership",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Service health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/oauth2/token": {
      "servers": [
        {
          "url": "https://id.agilitydoghub.com"
        }
      ],
      "post": {
        "operationId": "issueToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PasswordGrantRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OAuth2 token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "ApiError": {
        "description": "Standard API error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ApiErrorResponse": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {},
          "traceId": {
            "type": "string"
          }
        }
      },
      "BrandingResponse": {
        "type": "object",
        "required": [
          "club",
          "theme",
          "locales",
          "defaultLocale",
          "timeZone",
          "currency",
          "countryProfile",
          "modules",
          "signup",
          "status",
          "legal"
        ],
        "properties": {
          "club": {
            "type": "object",
            "required": ["slug", "name"],
            "properties": {
              "slug": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "theme": {
            "$ref": "#/components/schemas/Theme"
          },
          "locales": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "defaultLocale": {
            "type": "string"
          },
          "timeZone": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "countryProfile": {
            "$ref": "#/components/schemas/CountryProfile"
          },
          "modules": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "signup": {
            "type": "object",
            "required": ["enabled"],
            "properties": {
              "enabled": {
                "type": "boolean"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": ["ONBOARDING", "ACTIVE", "SUSPENDED", "CLOSED"]
          },
          "legal": {
            "type": "object",
            "required": ["privacyPolicyUrl"],
            "properties": {
              "privacyPolicyUrl": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "Theme": {
        "type": "object",
        "required": ["colors", "mode"],
        "properties": {
          "colors": {
            "type": "object",
            "required": [
              "primary",
              "primaryFg",
              "surface",
              "surface2",
              "text",
              "textMuted",
              "border",
              "success",
              "warning",
              "danger",
              "info"
            ],
            "properties": {
              "primary": { "type": "string" },
              "primaryFg": { "type": "string" },
              "surface": { "type": "string" },
              "surface2": { "type": "string" },
              "text": { "type": "string" },
              "textMuted": { "type": "string" },
              "border": { "type": "string" },
              "success": { "type": "string" },
              "warning": { "type": "string" },
              "danger": { "type": "string" },
              "info": { "type": "string" }
            }
          },
          "logoUrl": { "type": "string", "format": "uri" },
          "markUrl": { "type": "string", "format": "uri" },
          "fonts": {
            "type": "object",
            "additionalProperties": { "type": "string" }
          },
          "mode": {
            "type": "string",
            "enum": ["AUTO", "LIGHT", "DARK"]
          }
        }
      },
      "CountryProfile": {
        "type": "object",
        "required": ["code", "idDocumentTypes", "phonePrefix"],
        "properties": {
          "code": { "type": "string" },
          "idDocumentTypes": {
            "type": "array",
            "items": { "type": "string" }
          },
          "phonePrefix": { "type": "string" }
        }
      },
      "MeResponse": {
        "type": "object",
        "required": ["account", "membership", "modules"],
        "properties": {
          "account": {
            "type": "object",
            "required": ["id", "name", "email", "locale"],
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "name": { "type": "string" },
              "email": { "type": "string", "format": "email" },
              "locale": { "type": "string" }
            }
          },
          "membership": {
            "type": "object",
            "required": ["roles"],
            "properties": {
              "roles": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["MEMBER", "INSTRUCTOR", "ADMIN"]
                }
              },
              "memberId": { "type": "string", "format": "uuid" },
              "defaultProfile": { "type": "string" }
            }
          },
          "modules": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "PasswordGrantRequest": {
        "type": "object",
        "required": ["grant_type", "username", "password"],
        "properties": {
          "grant_type": {
            "type": "string",
            "const": "password"
          },
          "username": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "required": ["access_token", "refresh_token", "token_type", "expires_in"],
        "properties": {
          "access_token": { "type": "string" },
          "refresh_token": { "type": "string" },
          "token_type": { "type": "string" },
          "expires_in": { "type": "integer" }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": ["status", "version", "builtAt"],
        "properties": {
          "status": { "type": "string" },
          "version": { "type": "string" },
          "builtAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
